* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color : #d4eef2;
}

img {
  flex: auto;
}

button {
  cursor: pointer;
}

div.secao {
  
  background-color: aliceblue;
  padding: 0px;
  margin: 0px;
}

p {
 
  padding: 3px;
  margin: 4px;
}
.esp {
  margin-top: 50px;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.113);
  
}